.index {
    text-align: center;
    position: relative;
    border: double black;
    background-color: grey;
    color: whitesmoke;
    top: 250px;
    padding-bottom: 20px;
}


.start-box {
    text-align: center;
    position: relative;
    border: double black;
    background-color: grey;
    color: whitesmoke;
    top: 250px;
    padding-bottom: 20px;
}

.highscore-button {
    position: absolute;
    left: 25px;
    top: 25px;
}

.header {
    font-size: 40px;
    margin-bottom: 50px;
}

.question-header {
    font-size: 30px;
    margin-bottom: 50px;
}

.start-text {
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: large;
    padding-left: 30px;
    padding-right: 30px;
}

button {
    border-radius: 8px;
    font-size: 25px;
    background-color: rgb(202, 0, 238);
    color: rgb(255, 255, 255);
    border: 2px solid grey;
    transition-duration: 0.4s;
    cursor: pointer;
}

a {
    border-radius: 8px;
    font-size: 25px;
    background-color: rgb(202, 0, 238);
    color: rgb(255, 255, 255);
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:active {
    transform: translateY(10px);
}

#start-button:hover {
    background-color: white;
    color: rgb(202, 0, 238);
    margin-bottom: 20px;
}

.question-button:hover {
    background-color: white;
    color: rgb(202, 0, 238);
}

#highscore-list {
    list-style-position: inside;
    margin-left: auto;
    margin-right: auto;
}

#correct {
    position: fixed;
    top: 190px;
    left: 910px;
    border: 2px double black;
    color: white;
    background-color: rgb(202, 0, 238); 
}

#incorrect {
    position: fixed;
    top: 190px;
    left: 910px;
    border: 2px double black;
    color: white;
    background-color: rgb(202, 0, 238); 
}

.timer {
    text-align: right;
    position: absolute;
    top: 25px;
    right: 25px;
}

.hide {
    display: none;
}


.score {
    border:2px double rgb(202, 0, 238); 
    padding: 0.03em 0.25em;
    margin-left: 100px;
    margin-right: 100px;
}